body {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  background-color: #fafafa;
  color: #333;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 750px;
  margin: 3rem auto;
  padding: 0 1rem;
}
h1 {
  font-size: 2.25rem;
  margin-bottom: 0.25rem;
}
h2 {
  font-size: 1.2rem;
  font-weight: normal;
  color: #666;
  margin-top: 0;
}
h3 {
  margin-top: 2rem;
  font-size: 1.2rem;
}
a {
  color: #0066cc;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
